
td {
    padding: 0 1%;    
}
tr {
    padding: 0;
    margin: 0;
}
/* SECTION LEFT */
.left {
    width: 30%;
}
ul, li{
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.clipart {
    width: 320px;
    text-align: center;
}
.ligne {
    height:     10px;
    background-color: rgba(150, 150, 150);
}
.adresse {
    font-style: normal;
    /* font-size: 1.2em; */
}
.adresse_2 {
    display: flex;
}
.adresse div p {
    margin-left: 1% ;
}

/* SECTION RIGHT */

.right {
    width: 70%;
    margin-left: 1%;
}
hr {
    margin: 1% 0;
    border-color: rgba(150, 150, 150);
}
.progress {
    background-color: rgb(150, 150, 150);
    color: aliceblue;
    font-size: 0.9em;
    padding: 0.25em;

}
div li {
    margin-left: 40px;
}
.titre_uppercase {
    text-transform: uppercase;
}
.svg {
    width: 10px;
}
li.text_title {
    font-weight: bold;
    margin: 2% 0 0 1%;
    font-style: italic;
}