
td {
    padding: 0 1%;    
}
/* SECTION LEFT */
.left {
    background-color: burlywood;
    width: 30%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.clipart {
    width: 320px;
    text-align: center;
}
.ligne {
    height:     10px;
    background-color: rgba(150, 150, 150);
}
.adresse {
    font-style: normal;
    /* font-size: 1.2em; */
}
.adresse_2 {
    display: flex;
}
.adresse div p {
    margin-left: 1% ;
}

/* SECTION RIGHT */

.right {
    background-color: chocolate;
    width: 70%;
    margin-left: 1%;
}
hr {
    margin: 1% 0;
    border-color: rgba(150, 150, 150);
}
.progress {
    background-color: rgb(150, 150, 150);
    color: aliceblue;

}
.right ul {
    margin: 2% 0;
}
.titre_uppercase {
    text-transform: uppercase;
}
.svg {
    width: 10px;
}