
*, :before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    user-select: none;
    font-size: 0.8rem;
}
body {
    width: 100vw;
    margin: auto;
    display: flex;
    color: #00000080;
}
section {
    padding: 0 1%;    
}
/* SECTION LEFT */
.left {
    background-color: burlywood;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.name {
    font-size: 1.5em;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);

}
.f_letter {
    width: 100%;
    max-width:  300px;
}
.ligne {
    height:     10px;
    background-color: rgba(150, 150, 150);
}
.adresse {
    font-style: normal;
    /* font-size: 1.2em; */
}
.adresse_2 {
    display: flex;
}
.adresse div p {
    margin-left: 1% ;
}

/* SECTION RIGHT */

.right {
    background-color: chocolate;
     width: 70%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
hr {
    margin: 1% 0;
    border-color: rgba(150, 150, 150);
}
.techno, .study, .exp {
    display: flex;
    flex-direction: column;
    max-height: 275px;
    flex-wrap: wrap;
}
.progress {
    background-color: rgba(150, 150, 150);
}
.right ul {
    margin: 2% 0;
}
.titre_uppercase {
    text-transform: uppercase;
}